.promo {
	height: 490px;
	width: 100%;
	background-image: url("../img/hat.png");
	background-repeat: no-repeat;
	background-size: cover;
	color: #fff;
	// text-align: center;

	&__title {
		display: inline-block;
		margin-bottom: 50px;
		padding: 25px 0;
		border-bottom: 2px solid #fff;
	}

	&__text {
		padding-left: 20px;
		text-align: left;
	}
}